body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    background-color: #f0f0f0;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #29bde0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    span {
        width: 13px;
        height: 13px;
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        transform: rotate(225deg);
       margin-left:28px;
    }
    p{
        font-size: 24px;
        color: #fff;     
    }
    img{margin-right:10px;}
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:0 30px;
    .title {
        width: 100%;
        height: 55px;
        margin-top: 20px;
        color: #29bde0;
        font-size: 24px;
        text-align: center;
        background-color: #fff;
        line-height: 55px;
    }

    .matching {
        width: 100%;
        height: 20em;
        margin-top: 10px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
            display: flex;
            align-items: center;
        }

        p:nth-child(1)::before {
            content: url("../../img/shasou.png");

        }

        p:nth-child(2)::before {
            content: url("../../img/nongmin.png");

        }

    }
    // 滑块
    .empty {
        width: 100%;
        height: 60px;
        margin-top: 10px;
        background-color: #fff;
        display:flex;
        justify-content: center;
        align-items: center;
        i{
            width: 20px;
            height: 20px;
            border:1px solid #d9d9d9;
            font-size: 17px;
            color:#fab344;
            line-height:20px;
            font-family:Verdana;//字体
            text-align:center;
        }
        // 轨道
        input[type=range]{
            -webkit-appearance:none;
            margin:0 20px;
            outline:none;  
            width: 50%;
            height:15px;
            border-radius:10px;//轨道圆角
            // background:-sebkit-linear-gradient(#fab344,#fab344) no-repeat;
            // background-size:0% 100%;
            box-shadow:0 1px 1px #def3f8,inset 0 .125em .125em #0d1112;//轨道内阴影效果
        }
        // 滑块按钮
        input[type=range]::-webkit-slider-thumb{
            -webkit-appearance:none;
            height:25px;
            width: 25px;    
            background-color:#fab344;
            border-radius:5px;



        }

    }
    // 输入框
    .quantity {
        width: 100%;
        height: 60px;
        margin-top: 10px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        form {

            span:nth-child(1) {
                margin-right: 5px;
                font-size: 16px;
            }

            input {
                width: 18px;
                height: 16px;
                border: 1px solid #fbb632;
                background-color: #fbb632;
            }

            span:nth-child(3) {
                font-size: 8px;
                color: #fbb632;
                margin-left: 5px;

            }
        }
    }

    .deal {
        width: 100%;
        height: 50px;
        margin-top: 10px;
        color: #fff;
        font-size: 23px;
        background-color: #fbb632;
        border-radius: 5px;
        line-height: 50px;
        border: 0;
    }

}